<div class="card">
    <div class="card-header">
        card header {{material.blueprint_items.count}}
    </div>
    <div class="card-text">
        <ul>
        {% for item in material.blueprint_items.all %}

            <li>
                {{item.blueprint.name}} ({{item.blueprint.pk}})----{{item.amount}} (<a href="{{item.blueprint.owner.get_absolute_url}}">{{item.blueprint.owner}}</a>)
            </li>
        {% endfor %}
        </ul>
                <ul>
        {% for item in material.blueprint.all %}

            <li>
                {{item.name}}----
            </li>
        {% endfor %}
        </ul>

            
 
    </div>
</div>