{% extends 'base/base_template.html' %}

{% block content %}

<h2> Products </h2>

<ul>
    {% for material in object_list %}
        <li><h4> {{ material.name }}  </h4>
            {% if material.blueprint %}
            <h5>Blueprints</h5>
           <ul>
           {% for blueprint in material.blueprint.all %}
           <li> {{ blueprint.name }}
            <ul>
            {% for item in blueprint.blueprint_items.all %}
                <li>
                   {{ item.pk }} {{ item.material.name }}({{item.material.pk}}) - {{ item.amount }} ({{ item.ItemBlueprint.pk }})
                </li>
            {% endfor %}
            </ul>
           </li>
           {% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% endblock %}
