<!DOCTYPE html>
{% load static %}
{% load ui_app_tags %}
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'bootstrap-icons/bootstrap-icons.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'ui_app/css/style.css' %}">
    
    <title>{% block title %} Управление движением материалов  {% endblock %} </title>
</head>
<body>
    <div class="container-fluid ">
        <div class="row">
        {% block header %}
           {% include 'components/header.html' %} 
        {% endblock header %}
            
        </div>
    <div class="row d-flex">
        <div class="col-md-3">
    {% block sidebar %} {% include 'components/sidebar.html' %} 
    {% endblock %}
    </div>
    <div class="col-md-9">
    {% block content %} {% endblock %}
    </div>
    </div>
    <div class="row">
    {% block footer %} {% endblock %}
    </div>
    </div>

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>    
</body>
</html>