<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'bootstrap-icons/bootstrap-icons.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'ui_app/css/style.css' %}">
    
    <title>{% block title %} Управление движением материалов  {% endblock %} </title>
</head>
<body>
    <div class="container-fluid d-flex">
    {% block sidebar %} {% include 'components/sidebar.html' %} {% endblock %}
    
    
    {% block content %} {% endblock %}
    {% block footer %} {% endblock %}
    </div>

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>    
</body>
</html>